Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
SpaceBeforeParens: Never
PointerAlignment: Left
DerivePointerAlignment: false
Standard: Latest
IncludeCategories:
  - Regex:           '^<[a-z0-9_]+>$'
    Priority:        1
  - Regex:           '^<.*>'
    Priority:        2
  - Regex:           '^".*"'
    Priority:        3
IncludeBlocks: Regroup
SortIncludes: true
InsertBraces: true
AccessModifierOffset: -4
