body
{
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6
{
    margin: 1.5em 0;
}

h1
{
    font-size: 1.728rem;
}

h2
{
    font-size: 1.44rem;
}

h3
{
    font-size: 1.2rem;
}

p
{
    margin: 1em 0;
}

em
{
    font-style: italic;
}

ul
{
    list-style: square outside;
}

ol
{
    list-style: decimal outside;
}

ul, ol
{
    margin-left: 1.5em;
}

code, pre
{
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}

#NavLeft svg
{
    display: inline-block;
}

#Menu
{
    position: absolute;
    display: none;
}

#Post img
{
    max-width: 100%;
}
