<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <title>Attachments</title>
  </head>
  <body>
    <div id="Body">
      {% include "nav.html" %}

      <form method="post" enctype="multipart/form-data" action="{{ url_for("upload-attachment") }}" id="FormUpload">
        <div>
          <label for="file">Upload an attachment</label>
          <input type="file" id="FilePicker" name="file" />
          <input type="submit" value="Upload" />
        </div>
      </form>

      <table id="AttachmentTable">
        <tr>
          <th>Hash</th><th>Filename</th><th>Type</th><th>Upload time</th>
        </tr>
        {% for att in attachments %}
        <tr>
          <td class="Hash"><a href="{{ att.url }}">{{ att.hash }}</a></td>
          <td class="Filename">{{ att.original_name }}</td>
          <td class="ContentType">{{ att.content_type }}</td>
          <td><time datetime="{{ att.upload_time_iso8601 }}">
              {{ att.upload_time_str }}
          </time></td>
        </tr>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
