<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="{{ url_for("statics", "icon.svg") }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ url_for("statics", "icon-180.png") }}">
{% for sheet in stylesheets %}
<link rel="stylesheet" href="{{ url_for("stylesheet", sheet) }}" />
{% endfor %}
<script>const SELECT_THEME_ENDPOINT = "{{ url_for("select-theme") }}";</script>
<script defer src="{{ url_for("statics", "theme-selector.js") }}"></script>
<script defer src="{{ url_for("statics", "menu.js") }}"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
