<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <meta property="og:title" content="{{ blog_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url_for("index") }}" />
    <title>{{ blog_title }}</title>
  </head>
  <body>
    <div id="Body">
      {% include "nav.html" %}
      <header id="BlogTitle">
        <h1>{{ blog_title }}</h1>
      </header>
      <main>
        <ul id="PostList">
          {% for post in posts %}
          <li><hgroup>
              <h1 class="PostTitle">{{ post.title }}</h1>
              <p class="Abstract">{{ post.abstract }}</p>
          </hgroup></li>
          {% endfor %}
        </ul>
      </main>
    </div>
  </body>
</html>
