@import url("../../statics/fonts/iosevka-etoile/IosevkaEtoile.css");
@import url("../../statics/fonts/iosevka/IosevkaSS10.css");
@import url("https://cdn.jsdelivr.net/gh/satouriko/LxgwWenKai_Webfonts@v1.101/dist/LXGWWenKai-Regular.css");
@import url("https://cdn.jsdelivr.net/gh/satouriko/LxgwWenKai_Webfonts@v1.101/dist/LXGWWenKai-Light.css");
@import url("https://cdn.jsdelivr.net/gh/satouriko/LxgwWenKai_Webfonts@v1.101/dist/LXGWWenKai-Bold.css");

body
{
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Iosevka Etoile Web", "Source Han Sans", "Noto Sans CJK", sans-serif;
    font-size: 19px;
}

nav, footer
{
    background-color: var(--color-alt-bg);
    font-size: 80%;
    padding: 4px 1em;
}

a
{
    color: var(--color-accent);
    text-decoration: underline;
}

a:hover
{
    color: var(--color-bg);
    background-color: var(--color-accent);
}

code, pre
{
    font-family: "Iosevka SS10 Web", monospace;
    font-size: 95%;
}

nav ul
{
    margin: 0;
}

p
{
    margin: unset;
    text-indent: 1.5em;
}

p:first-of-type, pre p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p
{
    text-indent: unset;
}

.paragraph > p
{
    text-indent: 1.5em;
}

.paragraph:first-of-type > p
{
    text-indent: unset;
}

#Post[lang^="zh-"] p, #Post[lang="zh"] p
{
    text-indent: 2em;
}

#Post[lang^="zh-"] li > p, #Post[lang="zh"] li > p
{
    text-indent: unset;
}

.imageblock, #Post > #PostBody p:has(> img:only-child)
{
    text-align: center;
    text-indent: 0px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

hr
{
    width: 64px;
    height: 4px;
    background-color: var(--color-alt-bg);
    border: none;
}

#Menu
{
    background-color: var(--color-alt-bg);
}

#Menu > ul
{
    list-style: none;
    margin-left: 0px;
}

#Menu li
{
    padding: 6px;
}

#Menu li > a
{
    text-decoration: none;
}

main, #BlogTitle
{
    max-width: 700px;
    margin: 0 auto;
}

#BlogTitle
{
    font-size: 2rem;
    font-style: italic;
}

#BlogTitle a
{
    text-decoration: none;
}

#PostList
{
    text-align: center;
    list-style: none;
}

#PostList > li
{
    margin: 3.5em 0;
}

h1.PostTitle
{
    margin: 0.75em 0;
}

h1.PostTitle > a
{
    text-decoration: none;
}

#Post > h1
{
    text-align: center;
    margin: 2.5em 0 1em 0;
}

#Post > #Metadata
{
    color: var(--color-thin);
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
}

#PostBody
{
    margin: 1em 0 3em 0;

    pre, ul, ol, blockquote
    {
        margin: 0.8em 0;
    }

    blockquote
    {
        color: var(--color-alt-fg);
        font-style: italic;
    }

}

#Post[lang^="zh-"], #Post[lang="zh"]
{
    line-height: 1.65;

    ul, ol
    {
        margin-left: 2em;
    }

    blockquote
    {
        font-family: LXGWWenKai;
        font-style: normal;
    }
}

#AfterPost
{
    margin: 3em 0;
}

#FormPost
{
    margin: 2rem 0;
}

#FormPost > table
{
    width: 100%;
    table-layout: auto;
}

#FormPost input[type="text"], #FormPost textarea
{
    width: 100%;
    font-family: "Iosevka Etoile Web", "Source Han Sans", "Noto Sans CJK", sans-serif;
    font-size: 1rem;
}

#FormPost textarea
{
    line-height: 1.5;
}

#TextContent
{
    height: 64rem;
}

#FormUpload
{
    max-width: 700px;
    margin: 2em auto;
}

#AttachmentTable
{
    margin: 1.5em auto;
    width: 100%;
    max-width: 1200px;
}

#AttachmentTable td
{
    font-family: "Iosevka SS10 Web", monospace;
    text-align: center;
    padding: 4px;
}
