@media (min-width: 1460px)        /* text_width * 2 + column_gap */
{
    nav, footer
    {
        position: fixed;
        width: 100%;
        top: 0px;
    }

    footer
    {
        top: calc(100vh - 32px);
    }

    main#PostMain, #BlogTitle
    {
        max-width: unset;
    }

    #IndexWrapper
    {
        padding: 32px;
    }

    #PostWrapper
    {
        columns: auto var(--text-width);
        height: calc(100vh - 32px);
        padding: 64px 32px 32px 32px;
        max-width: var(--text-width);
        column-gap: 60px;
    }
}
